body {
    margin: 0px;
    background-color: #daebe8;
}
h1 {
    color: #001d2d;
}
p {
    color: #00517a;
}
#mar10 {

}
#P {

}
/* colors 
 The following 2 colors should be used as text */
.dark-sky {
    color: #001d2d;
}
.darkish-sky {
    color: #00517a;
}
/* The following 3 colors should be used as backgrounds */
.light-sky {
    color: #cfe0e8;
}
.sky {
    color: #b7d7e8;
}
.med-sky {
    color: #87bdd8;
}