/*
 * middle-grey: #cfe0e8
 * dark-grey: #001d2d
 * middle-blue: #b7d7e8
 * dark-middle-blue: #00517a
*/
body {
    margin: 0px;
    background-color: #daebe8;
}
h1 {
    color: #001d2d;
}
p {
    color: #00517a;
}
#mar10 {

}
#P {

}
/* colors */
.dark-sky {
    color: #001d2d;
    background-color: #cfe0e8;
}
.darkish-sky {
    color: #00517a;
    background-color: #b7d7e8;
}
.light-sky {
    color: #87bdd8;
}
.test-color {
    background-color: #b7d7e8;
    color: #001d2d;
}
