body {
    margin: 0px;
    background-color: #cfe0e8;
}
h1 {
    color: #001d2d;
}
p {
    color: #00517a;
}
#H1 {
    margin: 10;
}
#P {

}
.dark-sky {
    color: #001d2d;
}
.darkish-sky {
    color: #00517a;
}